#slider-container {
  position: relative;
  height: 150px;
  width: 100%;
  max-width: 1000px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 15px #888;
}

#slider-scroller {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(260px * 11);
  transition: all 1s ease;
}

.slider-item {
  width: 220px;
  height: 110px;
  display: inline-block;
  margin: 20px;
  position: relative;
}

.slider-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  max-height: 100px;
}